@media only screen and (min-width: 1000px) {
  .SMALLER-SCREEN{
    display: none;
  }

  .App {
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .App-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: yellow;
  }

  .late{
    width: 80%;
    height: 100px;
    background-color: yellow;
    border-radius: 20px;
    color: black;
    transition: height 1s linear 0.0001s;

  }
  .ITSME{
    display: none;
  }
  .ITSME > *{
    position: relative;
    float: left;
  }
  .INTRO{
    font-size: larger;
    line-height: 50%;
  }
  .AVATAR{
    border-radius: 50%;
    align-items: flex-end;
    padding: 10px;
  }
  .RESUME{
    display: none;
    position: relative;
    float: left;
  }

  .RESUME > *{
    position: relative;
    float: left;
  }

  .EDUCATION{
    width: 30%;
    height: 580px;
    /*background-color: red;*/
    text-align: initial;
    position: relative;
  }

  .PROJECTS{
    /*background-color: green;*/
    width: 70%;
    height: 580px;
  }

  .NITP-MODAL{
    display: none;
    z-index: 1;
    background-color: #CCCC00;
    font-size: small;
    font-weight: bold;
    border-radius: 20px;
  }
  .RLB-MODAL{
    display: none;
    z-index: 1;
    background-color: #CCCC00;
    font-size: small;
    font-weight: bold;
    border-radius: 20px;
  }
  .NDA-MODAL{
    display: none;
    z-index: 1;
    background-color: #CCCC00;
    font-size: x-small;
    font-weight: bolder;
    border-radius: 20px;
  }

  a{
    color: black;
  }
  li{
    font-size: large;
    font-weight: bold;
    text-align: initial;
  }
  .BEGLOBAL-APK-DOWNLOAD{
    display: none;
  }

  .late:hover .late-hoverMetext{
    display: none;
  }

  .late:hover .RESUME {
    display: block;
  }

  .late:hover .INTRO{
    display: block;
  }

  .late:hover .ITSME{
    display: block;
  }

  .late:hover{
    height: 1100px;

  }
  .NITP:hover .NITP-MODAL{
      display: block;
  }

  .RLB:hover .RLB-MODAL{
      display: block;
  }

  .NDA:hover .NDA-MODAL{
      display: block;
  }
}
@media only screen and (max-width: 999px){
  .SMALLER-SCREEN{
    display: block;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    background-image: url("./images/smallScreen.jpg");
  }
  .late{
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url("./images/smallScreen.jpg");
  }
  .late-hoverMetext{
    display: none;
  }
  
  .HELLO-WORLD{
    display: none;
  }

  .AVATAR{
    padding: 10px;
  }

  .BEGLOBAL-APK-DOWNLOAD{
    margin-left: 20px;
  }

  .CLICKABLE-INFO{
    display: none; 
  }
}

.FOOTER{
  color: yellow; 
  padding: 10px;
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
}

.CLICKABLE-INFO{
  font-size: large;
  font-weight: bold;
}

.CLICK-PDF{
  color: yellow;
  text-decoration: underline;
}